<div class="wrapper">
  <div class="screen">
    <div>
      0
    </div>
  </div>
  <div class="button-box">
    <button>
      C
    </button>
    <button>
      +-
    </button>
    <button>
      %
    </button>
    <button>
      /
    </button>
    <button>
      7
    </button>
    <button>
      8
    </button>
    <button>
      9
    </button>
    <button>
      X
    </button>
    <button>
      4
    </button>
    <button>
      5
    </button>
    <button>
      6
    </button>
    <button>
      -
    </button>
    <button>
      1
    </button>
    <button>
      2
    </button>
    <button>
      3
    </button>
    <button>
      +
    </button>
    <button>
      0
    </button>
    <button>
      .
    </button>
    <button class="equals">
      =
    </button>
    
  </div>
</div>