<div class="wrapper">
  <div class="screen">
    {{newVal ? newVal : result}}
  </div>
  <div class="button-box">
    <button (click)="clear()">
      C
    </button>
    <button (click)="changeSymbol()">
      + -
    </button>
    <button (click)="arithmeticOperation('percentage')">
      %
    </button>
    <button (click)="arithmeticOperation('divide')">
      /
    </button>
    <button (click)="numberFunc('7')">
      7
    </button>
    <button (click)="numberFunc('8')">
      8
    </button>
    <button (click)="numberFunc('9')">
      9
    </button>
    <button (click)="arithmeticOperation('multiply')">
      X
    </button>
    <button (click)="numberFunc('4')">
      4
    </button>
    <button (click)="numberFunc('5')">
      5
    </button>
    <button (click)="numberFunc('6')">
      6
    </button>
    <button (click)="arithmeticOperation('minus')">
      -
    </button>
    <button (click)="numberFunc('1')">
      1
    </button>
    <button (click)="numberFunc('2')">
      2
    </button>
    <button (click)="numberFunc('3')">
      3
    </button>
    <button (click)="arithmeticOperation('sum')">
      +
    </button>
    <button (click)="numberFunc('0')">
      0
    </button>
    <button (click)="addingDecimal()">
      .
    </button>
    <button class="equals" (click)="equals()">
      =
    </button>
  </div>
</div>